



@foreach (EpisodeItem e in Model.Episodes)
{
    <p>Name of Podcast: @e.name</p>
    <p>Episode Name: @e.name</p>
    <p>Description of episode: @e.description</p>
    <p>Episode release date: @e.release_date</p> //might be nice to display this the way we are used to seeing: mm/dd/yyyy or December 1, 2020
    <p>Does the episode contain explicit content: @e._explicit</p>
    <p>
        Length of episode:
        @{double minutes = e.duration_ms / 60000;
            @Math.Round(minutes) //this method always rounds down to the lower whole number.  using Math.Ceiling did not work for me either
        } minutes
    </p>

    @*<p>Publisher: @e.show.publisher</p>*@
    <p>Here is a 30 second clip of the episode:</p>
    <audio controls>
        <source src="@e.audio_preview_url" type="audio/mpeg">
    </audio>
    <p>Languages:</p>
    foreach (var x in @e.languages)
    {
        <p>@x</p> //we could clean up the way this displays the languages, like display the whole word
    }
    foreach (var i in @e.images) //this is an array of 3 images for the episode- we could decide which size we want to use wherever and display it
    {
        <img src="@i.url" height="@i.height" width="@i.width" />
    }
    <hr />

}