@{
    List<string> uniqueEpisodeIDs = new List<string>();
}



@foreach (RootShow e in Model.shows)
{
    bool containsSearchTerm = @e.name.ToLower().Contains(ViewBag.Podcast);
    if (!uniqueEpisodeIDs.Contains(e.name) && containsSearchTerm == true)
    {<p>Name of podcast: @e.name</p>
    <p>Producer: @e.publisher</p>
    <p>Number of episodes: @e.total_episodes</p>
    <p>Description of show: @e.description</p>
    <p>Available images: </p>
    foreach (var i in @e.images) //this is an array of 3 images for the episode- we could decide which size we want to use wherever and display it
    {
        <img src="@i.url" height="@i.height" width="@i.width" />
    }
    uniqueEpisodeIDs.Add(e.name);
    <form asp-controller="User" asp-action="AddFavorite" method="post">
        <input type="hidden" name="id" value="@e.id" />
        <input type="submit" name="data" value="Add to Favorites" />
    </form>
    <hr>
}

else
{
    <a asp-action="index" asp-controller="home">No results found - Search again</a>
    break;
}

}