@model RootShows
@{
    ViewData["PodcastDetails"] = "Podcast Details";
    List<string> uniqueEpisodeIDs = new List<string>();
    string userQuery = TempData.Peek("UserQuery").ToString();
    string totalResults = TempData.Peek("TotalResults").ToString();
    var nextPage = TempData.Peek("NextPage");
    var previousPage = TempData.Peek("PreviousPage");
    var offset = TempData["Offset"].ToString();
}

<div class="searchresults">
    <h5 class="text-left text-capitalize" style="color: grey; letter-spacing: 2px">Search Results For "@userQuery"</h5>
</div>

<table class="table table-hover table-responsive">
    <thead class="thead-dark">
        <tr class="thead-dark">
            <th class="text-center">Podcast</th>
            <th class="text-center">Episodes</th>
            <th class="text-center">Description</th>
        </tr>
    </thead>

    @foreach (RootShow e in Model.shows)
    {
        bool containsSearchTerm = @e.name.ToLower().Contains(userQuery); //this is us4ed to make sure that the names of the podcast shows include the search term the user entered
        if (!uniqueEpisodeIDs.Contains(e.name) && containsSearchTerm == true)
        {
            <tr>
                <td>
                    @{
                        List<Image> img = new List<Image>(e.images);
                        var firstPic = img.First();
                        uniqueEpisodeIDs.Add(e.name);
                    }
                    <figure class="figure">
                        <a href="@e.external_urls.spotify" alt="@e.name" target="_blank"><img src="@firstPic.url" style="height: 250px; width:250px;" class="figure-img" /></a>
                        <figcaption class="figure-caption text-right">
                            <a asp-controller="pod" asp-action="searchresults" asp-route-query="@e.publisher" asp-route-searchType="episodes">Produced by @e.publisher</a>
                            <br />Episodes: @e.total_episodes
                        </figcaption>
                    </figure>
                </td>
                <td style="padding: 2em 2em 2em 2em">
                    <p>Number of episodes: <a asp-controller="pod" asp-action="GetEpisodeByPodcast" asp-route-query="@e.name" asp-route-searchType="episodes">@e.total_episodes </a></p>
                </td>
                <td style="padding: 2em 2em 2em 2em">@e.description</td>
            </tr>
        }
    }
</table>


@if (previousPage != null)
{
    int convert = int.Parse(offset);
    <form asp-controller="Pod" asp-action="GetPreviousPodcast" method="post">
        <input type="hidden" name="query" value="@userQuery" />
        <input type="hidden" name="offset" value="@convert" />
        <input type="submit" value="Previous" class="btn btn-outline-dark btn-group-lg float-lg-left" />
    </form>

}
@if (nextPage != null)
{
    int convert = int.Parse(offset);
    <form asp-controller="Pod" asp-action="GetNextPodcast" method="post">
        <input type="hidden" name="query" value="@userQuery" />
        <input type="hidden" name="offset" value="@convert" />
        <input type="submit" value="Next" class="btn btn-outline-dark btn-group-lg float-lg-right" />
    </form>
}

<br />
<br />
<br />
<br />
