@model List<UserProfile>

<style type="text/css">
    table {
        background-color: rgba(255, 255, 255, .8);
        border-radius: 25px;
        border-top: none;
    }

    tr {
        border-radius: 25px;
    }
</style>

@if (@Model.Count() == 0)
{
    <div class="searchresults">
        <h4 class="text-left text-capitalize" style="letter-spacing: 2px">Oops!</h4>

        <p>You do not have any favorites saved yet!  Return to <a asp-controller="home" asp-action="index" style="color:forestgreen;">Search</a> to find an episode to add</p>
    </div>
}
else
{
    <div class="searchresults">
        <h5 class="text-left text-capitalize" style="letter-spacing: 2px">Popular</h5>
    </div>
    <table class="table table-hover table-responsive-lg" style="width: 100%">

        <thead class="thead-dark">
            <tr class="thead-dark">
                <th style="border-top-left-radius: 25px;">Podcast</th>
                <th style="width: 200px">Episode Description</th>
                <th>Review</th>
                <th style="border-top-right-radius: 25px;"></th>
            </tr>
        </thead>

        @{List<string> uniqueEpisodeIDs = new List<string>();
        }

        @foreach (UserProfile u in Model)
        {
            if (!uniqueEpisodeIDs.Contains(u.UserFeedback.EpisodeName))
            {
                uniqueEpisodeIDs.Add(u.UserFeedback.EpisodeName);
                string user = u.UserFeedback.User.UserName;
                int index = user.IndexOf("@");
                if (index > 0)
                    user = user.Substring(0, index);
                <tr>
                    <td>

                        <figure class="figure">
                            <a href="@u.UserFeedback.ExternalUrls" alt="@u.UserFeedback.PodcastName" target="_blank"><img src="@u.UserFeedback.ImageUrl" style="height: 250px; width:250px;" class="figure-img" /></a>
                            <audio controls style="width: 100%; align-content: start">
                                <source src="@u.UserFeedback.AudioPreviewUrl" type="audio/mpeg">
                            </audio>
                            <figcaption class="figure-caption text-right">Podcast: <a asp-controller="pod" asp-action="GetEpisodeByPodcast" asp-route-query="@u.UserFeedback.PodcastName" asp-route-searchType="episodes">@u.UserFeedback.PodcastName</a><br>Released: @u.UserFeedback.ReleaseDate.ToShortDateString() </figcaption>
                        </figure>
                    <td style="padding: 2em 2em 2em 2em">
                        <p style="font-weight: bold; font-size: 1em;">@u.UserFeedback.EpisodeName<p>
                            <hr />
                        <p>@u.UserFeedback.Description</p>
                        <br>
                        <hr>
                        <p style="font-size: 1em;"><b>Tags:</b> @u.UserFeedback.Tags<p>
                            @*<hr />
                        <p style="text-align: right">@u.UserFeedback.Tags</p>*@
                    </td>
                    <td style="padding: 2em 2em 2em 2em">

                        @if (u.UserFeedback.Rating == null || u.UserFeedback.Rating == 0)
                        {
                            <strong>Rating: N/A</strong>
                            <hr />
                        }
                        else
                        {
                            <strong>Rating: @u.UserFeedback.Rating/5</strong>
                            <hr />
                        }
                        @if (u.UserFeedback.Review == null)
                        {
                            <p><i>This episode hasn't been reviewed.</i></p>
                            <form asp-controller="User" asp-action="ReviewEpisode" method="get">
                                <input type="hidden" value="@u.EpisodeId" name="id" />
                                <input type="submit" class="btn btn-dark" value="Add Review" />
                            </form>
                            <br>
                            <form asp-controller="User" asp-action="addfavorite" method="get">
                                <input type="hidden" value="@u.UserFeedback.EpisodeId" name="id" />
                                <input type="submit" class="btn btn-dark" value="Add Favorite" />
                            </form>
                        }
                        else
                        {
                            <p><i>Reviewed by: <b>@user</b> on @u.UserFeedback.DatePosted.ToShortDateString()</i></p>
                            <p><i>"@u.UserFeedback.Review"</i></p>
                            <form asp-controller="User" asp-action="addfavorite" method="get">
                                <input type="hidden" value="@u.UserFeedback.EpisodeId" name="id" />
                                <input type="submit" class="btn btn-dark" value="Add Favorite" />
                            </form>
                        }
                    </td>
                    
                </tr>

            }
        }
    </table>
}