@model UserFeedback
<style type="text/css">
    .errorcontainer {
        border-radius: 25px;
        background-color: rgba(12, 12, 12, 0.7);
        padding: 50px;
        color: white;
    }
</style>
<div class="errorcontainer">
    <h4 class="text-left text-capitalize" style="letter-spacing: 2px">Oops!</h4>
    <div>
        <p>It looks like you've already rated this episode.</p>
        <p><strong>Podcast: </strong>@Model.PodcastName</p>
        <p><strong>Episode Name: </strong>@Model.EpisodeName</p>
        <img src="@Model.ImageUrl" height="200" />
        <p>Would you like to edit this review?</p>
        <form asp-controller="User" asp-action="EditReview" method="get">
            <input type="hidden" name="fbId" value="@Model.Id" />
            <input type="submit" value="Yes" class="btn btn-light btn-group-lg float-lg-left" />
        </form>

//<<<<<<< HEAD
<h4 class="text-left text-capitalize" style="color: black; letter-spacing: 2px">Oops!</h4>
<div style="color: grey">
    <p>It looks like you've already rated this episode.</p>
    <p><strong>Podcast: </strong>@Model.PodcastName</p>
    <p><strong>Episode Name: </strong>@Model.EpisodeName</p>
    <img src="@Model.ImageUrl" height="200" />
    <p>You can <a asp-controller="User" asp-action="EditReview" asp-route-id="@Model.Id" >edit</a> this review, or</p>
    
  
           <p>Or go <a href='javascript:history.go(-1)'>back</a> to the previous page</p>

</div>
//=======
        <form asp-controller="User" asp-action="ViewFeedBack" method="get">
            <input type="submit" value="No" class="btn btn-dark btn-group-lg float-lg-left" />
        </form>
        <br />
        <br />
    </div>
</div>
//>>>>>>> 1166d9fb714e33f7bc1cc59c682e721e2a4c1073
