@model UserFeedback

<style type="text/css">
    @@font-face {
        font-family: 'Montserrat';
        src: url(../font/Montserrat-Regular.ttf);
        font-weight: normal;
    }

    @@font-face {
        font-family: 'MontserratBold';
        src: url(../font/Montserrat-Bold.ttf);
        font-weight: bold;
    }

    .feedbackContainer {
        border-radius: 25px;
        background-color: rgba(12, 12, 12, 0.7);
        padding: 50px;
        color: white;
    }

    .podcastimg {
        float: left;
        margin: 0 10px 0 0;
    }

    .podcastinfo {
        min-height: 325px;
    }

    .tags {
        display: flex;
        justify-content: space-between;
    }
</style>
<div class="feedbackContainer">
    <h4 class="text-left text-capitalize" style="font-family: 'MontserratBold'; color: white; letter-spacing: 2px">Edit review for: @Model.EpisodeName</h4>
    <div>
        <div class="podcastimg">
            <a href="@Model.ExternalUrls" target="_blank"><img src="@Model.ImageUrl" height="300" /></a>
        </div>
        <div class="podcastinfo">
            <p><strong>Podcast: </strong>@Model.PodcastName</p>
            <p><strong>Episode description: </strong>@Model.Description</p>
            <p><strong>Release date: </strong>@Model.ReleaseDate</p>
            <br />
        </div>
        <hr />
        <p><strong>Originally reviewed on: </strong>@Model.DatePosted</p>
        <form asp-controller="User" asp-action="EditReview" method="post">
            <h5><strong>Rating: </strong></h5><input type="number" name="Rating" value="@Model.Rating" min="1" max="5" required /> /5
            <h5 style="padding-top: 20px">Tags</h5>
            <p><i>Limited to 3 per column for better personalized recommendations</i></p>
            <div id="tagscontainer">
                <div class="row">
                    <div class="col-sm">
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Aliens" checked="@Model.Tags.Contains("Aliens")"> Aliens<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Crime" checked="@Model.Tags.Contains("Crime")"> Crime<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Current Events" checked="@Model.Tags.Contains("Current Events")"> Current Events<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Educational" checked="@Model.Tags.Contains("Educational")"> Educational<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Famous People" checked="@Model.Tags.Contains("Famous People")"> Famous People<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Funny" checked="@Model.Tags.Contains("Funny")"> Funny <br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Game-changing" checked="@Model.Tags.Contains("Game-changing")"> Game-changing<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Gaming" checked="@Model.Tags.Contains("Gaming")"> Gaming<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Health" checked="@Model.Tags.Contains("Health")"> Health<br>
                    </div>

                    <div class="col-sm">
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Inspirational" checked="@Model.Tags.Contains("Inspirational")"> Inspirational<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Kid-Friendly" checked="@Model.Tags.Contains("Kid-Friendly")"> Kid-Friendly<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="LGBT" checked="@Model.Tags.Contains("LGBT")"> LGBT+<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Mindblown" checked="@Model.Tags.Contains("Mindblown")"> Mindblown<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Money" checked="@Model.Tags.Contains("Money")"> Money<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Multicultural" checked="@Model.Tags.Contains("Multicultural")"> Multicultural<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="NSFW" checked="@Model.Tags.Contains("NSFW")"> NSFW<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Politics" checked="@Model.Tags.Contains("Politics")"> Politics<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Relaxing" checked="@Model.Tags.Contains("Relaxing")"> Relaxing<br>
                    </div>
                    <div class="col-sm">
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Real Life" checked="@Model.Tags.Contains("Real Life")"> Real Life<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Rocky Moments" checked="@Model.Tags.Contains("Rocky Moments")"> Rocky Moments<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Storytelling" checked="@Model.Tags.Contains("Storytelling")"> Storytelling<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Spooky" checked="@Model.Tags.Contains("Spooky")"> Spooky<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Sports" checked="@Model.Tags.Contains("Sports")"> Sports<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Tech" checked="@Model.Tags.Contains("Tech")"> Tech<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="Trash-talk" checked="@Model.Tags.Contains("Trash-Talk")"> Trash-talk<br>
                        <input class="single-checkbox" type="checkbox" name="Tags" value="WTF" checked="@Model.Tags.Contains("WTF")"> WTF<br>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group" style="width: 50%;">
                <h5>Review</h5>
                <textarea asp-for="Review" class="form-control" rows="5">@Model.Review</textarea>
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <input type="hidden" name="EpisodeId" value="@Model.EpisodeId" />

            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="submit" class="btn btn-light" value="Submit Revision" />
        </form>
    </div>
</div>
