@model UserFeedback

<h2>Edit Review</h2>
<p>Edit your review on @Model.EpisodeName</p>
<p>Originally posted on: @Model.DatePosted</p>
<form asp-controller="User" asp-action="EditReview" method="post">
    <p>Rating: <input type="number" name="Rating" value="@Model.Rating" min="1" max="5" required/></p>
    <p>Tags: <input type="text" name="Tags" value="@Model.Tags" required/></p>
    <p>Review: </p>
    <textarea name="Review" rows="5" cols="70"></textarea><br />
    <input type="hidden" name="Id" value="@Model.Id" />
    @*<input type="hidden" name="UserId" value="@Model.UserId" />
    <input type="hidden" name="EpisodeId" value="@Model.EpisodeId" />
    <input type="hidden" name="EpisodeName" value="@Model.EpisodeName" />
    <input type="hidden" name="PodcastName" value="@Model.PodcastName" />
    <input type="hidden" name="Description" value="@Model.Description" />
    <input type="hidden" name="AudioPreviewUrl" value="@Model.AudioPreviewUrl" />
    <input type="hidden" name="ImageUrl" value="@Model.ImageUrl" />
    <input type="hidden" name="ReleaseDate" value="@Model.ReleaseDate" />
    <input type="hidden" name="ExternalUrls" value="@Model.ExternalUrls" />*@
    <input type="submit" value="Submit Revision" />
</form>