@model IEnumerable<SavedPodcast>


<p>hi, you added a favorite</p>
<table class="styled-table">

    @foreach (SavedPodcast s in Model)
    {
        <thead>
            <tr>
                <th> Name</th>
                <th>Publisher</th>
                <th>Episode Name</th>
                <th>Description</th>
                <th>Preview</th>
                <th>Image</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> @s.PodcastName  </td>
                <td>@s.Publisher </td>
                <td>@s.EpisodeName</td>
                <td>@s.Description</td>
                <td>@s.AudioPreviewUrl</td>
                <td>@s.ImageUrl</td>
                <td>@s.Duration</td>

            </tr>
        </tbody>
       
        <tr>
            <td>
                <p>
                   
                    
                </p>
            </td>

        </tr>
    }

    @*@model ShowsRootViewModel

        @foreach (var show in Model.Shows)
        {
            @show.Property1;
        }

        @foreach (var episode in Model.Episodes)
        {
            @episode.Property1;
        }*@
</table>