
@model Episode

<h4 class="text-left text-capitalize" style="color: black; letter-spacing: 2px">Write a review for: @Model.name</h4>
<hr />

<div style="color: grey">
<p><strong>Name of Podcast: </strong>@Model.show.name</p>
<p><strong>Episode description: </strong>@Model.description</p>
<p><strong>Release date: </strong>@Model.release_date</p>
<img src="@Model.images[0].url" height="300" />
<br />
<audio controls>
    <source src="@Model.audio_preview_url" type="audio/mpeg">
</audio>
<br />
</div>

<form asp-controller="User" asp-action="ReviewEpisode" method="post">
    <input type="hidden" name="EpisodeId" value="@Model.id" />
    <input type="hidden" name="EpisodeName" value="@Model.name" />
    <input type="hidden" name="PodcastName" value="@Model.show.name" />
    <input type="hidden" name="Description" value="@Model.description" />
    <input type="hidden" name="AudioPreviewURL" value="@Model.audio_preview_url" />
    <input type="hidden" name="ImageUrl" value="@Model.images[0].url" />
    <input type="hidden" name="ReleaseDate" value="@Model.release_date" />
    <input type="hidden" name="ExternalURLS" value="@Model.external_urls.spotify" />
    <br>
    <p>
        <strong>Rating: </strong><input type="number" name="Rating" required min="1" max="5" /> /5
    </p><br />
    <br>

    <div class="reviewtags">
        <p><strong>Tags (Select up to 3):</strong></p>
        <input type="checkbox" name="Tags" value="Aliens"> Aliens<br>
        <input type="checkbox" name="Tags" value="Crime"> Crime<br>
        <input type="checkbox" name="Tags" value="Current Events"> Current Events<br>
        <input type="checkbox" name="Tags" value="Educational"> Educational<br>
        <input type="checkbox" name="Tags" value="Famous People"> Famous People<br>
        <input type="checkbox" name="Tags" value="Funny"> Funny<br>
        <input type="checkbox" name="Tags" value="Game-changing"> Game-changing<br>
        <input type="checkbox" name="Tags" value="Gaming"> Gaming<br>
        <input type="checkbox" name="Tags" value="Health"> Health<br>
        <input type="checkbox" name="Tags" value="Inspirational"> Inspirational<br>
        <input type="checkbox" name="Tags" value="Kid-Friendly"> Kid-Friendly<br>
        <input type="checkbox" name="Tags" value="LGBT"> LGBT+<br>
        <input type="checkbox" name="Tags" value="Mindblown"> Mindblown<br>
        <input type="checkbox" name="Tags" value="Money"> Money<br>
        <input type="checkbox" name="Tags" value="Multicultural"> Multicultural<br>
        <input type="checkbox" name="Tags" value="NSFW"> NSFW<br>
        <input type="checkbox" name="Tags" value="Politics"> Politics<br>
        <input type="checkbox" name="Tags" value="Relaxing"> Relaxing<br>
        <input type="checkbox" name="Tags" value="Real Life"> Real Life<br>
        <input type="checkbox" name="Tags" value="Rocky Moments"> Rocky Moments<br>
        <input type="checkbox" name="Tags" value="Storytelling"> Storytelling<br>
        <input type="checkbox" name="Tags" value="Spooky"> Spooky<br>
        <input type="checkbox" name="Tags" value="Sports"> Sports<br>
        <input type="checkbox" name="Tags" value="Tech"> Tech<br>
        <input type="checkbox" name="Tags" value="Trash-talk"> Trash-talk<br>
        <input type="checkbox" name="Tags" value="WTF"> WTF<br>
    </div>
    <p><strong>Review:</strong></p>
    <textarea name="Review" rows="5" cols="70"></textarea><br />
    <input type="submit" value="Review Episode" class="btn btn-outline-dark btn-group-lg float-lg-left" />
</form>