@model Episode

<p>Episode name: @Model.name</p>
<p>Name of podcast: @Model.show.name</p>
<p>Episode description: @Model.description</p>
<p>Release date: @Model.release_date</p>
<img src="@Model.images[0].url" height="300" />
<br />
<audio controls>
    <source src="@Model.audio_preview_url" type="audio/mpeg">
</audio>
<br />

<form asp-controller="User" asp-action="ReviewEpisode" method="post">
    <input type="hidden" name="EpisodeId" value="@Model.id" />
    <input type="hidden" name="EpisodeName" value="@Model.name" />
    <input type="hidden" name="PodcastName" value="@Model.show.name" />
    <input type="hidden" name="Description" value="@Model.description" />
    <input type="hidden" name="AudioPreviewURL" value="@Model.audio_preview_url" />
    <input type="hidden" name="ImageUrl" value="@Model.images[0].url" />
    <input type="hidden" name="ReleaseDate" value="@Model.release_date" />
    <input type="hidden" name="ExternalURLS" value="@Model.external_urls.spotify" />
    <p>
        Rating: <input type="number" name="Rating" required min="1" max="5" /> /5
    </p><br />

    <div class="reviewtags">
        <p><strong>Tags (Select up to 3):</strong></p>
        <input class="single-checkbox" type="checkbox" name="Tags" value="Funny">Funny<br>
        <input class="single-checkbox" type="checkbox" name="Tags" value="Sports">Sports<br>
        <input class="single-checkbox" type="checkbox" name="Tags" value="Mindblown">Mindblown<br>
        <input class="single-checkbox" type="checkbox" name="Tags" value="Spooky">Spooky<br>
        <input class="single-checkbox" type="checkbox" name="Tags" value="LGBT">LGBT+<br>
        <input class="single-checkbox" type="checkbox" name="Tags" value="Gaming">Gaming<br>
        <input class="single-checkbox" type="checkbox" name="Tags" value="Storytelling">Storytelling<br>
        <input class="single-checkbox" type="checkbox" name="Tags" value="Aliens">Aliens<br>
        <input class="single-checkbox" type="checkbox" name="Tags" value="Crime">Crime<br>
        <input class="single-checkbox" type="checkbox" name="Tags" value="Tech">Tech<br>
    </div>

    <p>Review</p><br />
    <textarea name="Review" rows="5" cols="70"></textarea><br />
    <input type="submit" value="Review Episode" />
</form>