@model List<FavoriteViewModel>

<style type="text/css">
    table {
        background-color: rgba(255, 255, 255, .8);
        border-radius: 25px;
        border-top: none;
    }

    tr {
        border-radius: 25px;
    }
</style>

<div class="searchresults">
    <h5 class="text-left text-capitalize" style="letter-spacing: 2px">My Favorites</h5>
</div>

@{ if (@Model.Count() == 0)
    {
        <h4 class="text-left text-capitalize" style="color: black; letter-spacing: 2px">Oops!</h4>
        <div style="color: grey">

            You do not have any favorites saved yet!  Return to <a asp-controller="home" asp-action="index">Search</a> to find an episode to add
        </div>
    }
    else
    {
        <table class="table table-hover table-responsive-lg" style="width: 100%">

            <thead class="thead-dark">
                <tr class="thead-dark">
                    <th style="border-top-left-radius: 25px;">Podcast</th>
                    <th style="width: 200px">Episode Description</th>
                    <th>Review</th>
                    <th style="border-top-right-radius: 25px;">Remove</th>
                </tr>
            </thead>


            @foreach (FavoriteViewModel fvm in Model)
            {

                <tr>
                    <td>
                        @{
                            int minutes = (fvm.Duration / 1000) / 60;
                        }
                        <figure class="figure">
                            <a href="@fvm.ImageUrl" alt="@fvm.PodcastName" target="_blank"><img src="@fvm.ImageUrl" style="height: 250px; width:250px;" class="figure-img" /></a>
                            <audio controls style="width: 100%; align-content: start">
                                <source src="@fvm.AudioPreviewUrl" type="audio/mpeg">
                            </audio>
                            <figcaption class="figure-caption text-right">Podcast: <a asp-controller="pod" asp-action="GetEpisodeByPodcast" asp-route-query="@fvm.PodcastName" asp-route-searchType="episodes">@fvm.PodcastName</a><br>Released: @fvm.ReleaseDate.ToShortDateString() <br />Length: @minutes minutes</figcaption>
                        </figure>
                    <td style="padding: 2em 2em 2em 2em">
                        <p style="font-weight: bold; font-size: 1em;">@fvm.EpisodeName<p>
                            <hr />
                        <p>@fvm.Description</p>
                    </td>
                    <td style="padding: 2em 2em 2em 2em">

                        @if (fvm.Rating == null || fvm.Rating == 0)
                        {
                            <strong>Rating: N/A</strong>
                            <hr />
                        }
                        else
                        {
                            <strong>Rating: @fvm.Rating/5</strong>
                            <hr />
                        }
                        @if (fvm.Review == null)
                        {
                            <p><i>This episode hasn't been reviewed.</i></p>
                            <form asp-controller="User" asp-action="ReviewEpisode" method="get">
                                <input type="hidden" value="@fvm.EpisodeId" name="id" />
                                <input type="submit" class="btn btn-dark" value="Add Review" />
                            </form>
                        }
                        else
                        {
                            <p>@fvm.Review</p>
                            <form asp-controller="User" asp-action="EditReview" method="get">
                                <input type="hidden" value="@fvm.UserFeedbackId" name="fbId" />
                                <input type="submit" class="btn btn-dark" value="Edit Review" />
                            </form>
                            <p><i>Last Updated: @fvm.DatePosted.ToShortDateString()</i></p>
                        }
                    </td>
                    <td class="text-sm-center">
                        <a asp-controller="User" asp-action="Delete" asp-route-id="@fvm.SavedPodcastId"><img src="~/img/close-window-icon-24 (1).png" /></a>
                    </td>
                </tr>
            }
        </table>
    }
}