@model List<UserFeedback>

<form asp-action="SortFeedback" method="get">
    <div class="form-actions no-color">
        <p>
            Find by tag: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> | <a asp-action="SortFeedback">Back to Feedback</a>
        </p>
    </div>
</form>

<table class="table table-hover table-responsive-lg">
    <thead class="thead-dark">
        <tr class="thead-dark">
            <th><strong><a asp-action="SortFeedback" asp-route-sortOrder="@ViewData["DateSortParm"]">Date Posted</a></strong></th>
            <th><strong><a asp-action="SortFeedback" asp-route-sortOrder="@ViewData["EpNameSortParm"]">Episode Name</a></strong></th>
            <th><strong><a asp-action="SortFeedback" asp-route-sortOrder="@ViewData["PodNameSortParm"]">Podcast Name</a></strong></th>
            <th><strong><a asp-action="SortFeedback" asp-route-sortOrder="@ViewData["RatingSortParm"]">Rating</a></strong></th>
            <th><strong>Tags</strong></th>
            <th><strong>Review</strong></th>
            <th><strong>Edit</strong></th>
            <th><strong>Delete</strong></th>
        </tr>
    </thead>

    @if (Model.Count != 0)
    {
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.DatePosted</td>
                <td>@u.EpisodeName</td>
                <td>@u.PodcastName</td>
                <td>@u.Rating/5</td>
                <td>@u.Tags</td>
                <td>@u.Review</td>
                <td class="text-sm-center">
                    <a asp-controller="User" asp-action="EditReview" asp-route-fbId="@u.Id" method="get"><img src="~/img/pencil-icon-24.png" /></a>
                </td>
                <td class="text-sm-center">
                    <a asp-controller="User" asp-action="DeleteReview" asp-route-fbId="@u.Id" asp-route-epId="@u.EpisodeId"><img src="~/img/close-window-icon-24 (1).png" /></a>
                </td>
            </tr>
        }
    }
</table>

@if (Model.Count == 0)
{
    <center><img src="https://media.giphy.com/media/h3v63bGeVb1pdgFtTx/giphy.gif" /></center>
    <h4>Looks like you haven't made any reviews, get started <a asp-controller="Home" asp-action="Index">here.</a></h4>
}